[submodule "deps/intel_se_api"]
	path = deps/intel_se_api
	url = http://github.com/FinSecSystems/IntelSEAPI.git
[submodule "deps/quickfix"]
	path = deps/quickfix
	url = https://github.com/FinSecSystems/quickfix.git
[submodule "deps/poco"]
	path = deps/poco
	url = https://github.com/FinSecSystems/poco.git
[submodule "deps/tinyfsm"]
	path = deps/tinyfsm
	url = https://github.com/FinSecSystems/tinyfsm.git
