[submodule "deps/poco"]
	path = deps/poco
	url = https://github.com/viknash/poco.git
[submodule "deps/intel_se_api"]
	path = deps/intel_se_api
	url = http://github.com/viknash/IntelSEAPI.git
[submodule "tools/src/vswhere"]
	path = tools/src/vswhere
	url = http://github.com/viknash/vswhere.git
