[submodule "deps/intel_se_api"]
	path = deps/intel_se_api
	url = http://github.com/viknash/IntelSEAPI.git
[submodule "tools/src/vswhere"]
	path = tools/src/vswhere
	url = http://github.com/viknash/vswhere.git
[submodule "tools/src/premake-core"]
	path = tools/src/premake-core
	url = http://github.com/viknash/premake-core.git
[submodule "tools/src/cmake"]
	path = tools/src/cmake
	url = http://github.com/viknash/cmake.git
[submodule "tools/src/js2model"]
	path = tools/src/js2model
	url = http://github.com/viknash/js2model.git
[submodule "deps/TaskScheduler"]
	path = deps/TaskScheduler
	url = http://github.com/viknash/TaskScheduler.git
[submodule "deps/poco"]
	path = deps/poco
	url = http://github.com/viknash/poco.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = http://github.com/viknash/imgui.git
[submodule "deps/krakenapi"]
	path = deps/krakenapi
	url = http://github.com/viknash/krakenapi
[submodule "deps/optmarket-bittrex"]
	path = deps/optmarket-bittrex
	url = https://github.com/vncoelho/optmarket-bittrex
