# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/tmp/Win64/debug/trader/trader.tlog/*.lastbuildstate
/.vs/trader/v15/*.db-shm
/.vs/trader/v15/*.db-wal
/.vs
/tmp
*.vcxproj*
*.sln
./*.db
/bin
/deps/IntelSEAPI.dir/Release/IntelSEAPI.log
/deps/x64/Release/ALL_BUILD/ALL_BUILD.log
/deps/x64/Release/ZERO_CHECK/ZERO_CHECK.log
/tools/src/obj/Debug/Premake5.log
/tools/src/obj/Release/Premake5.log
/*
/*.make
