# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.lastbuildstate
*.db-shm
*.db-wal
/.vs
/tmp
*.vcxproj*
*.sln
./*.db
/bin/Win64
/bin/Linux64-gcc
*.log
/*.make
* - Copy.*
Makefile
*.config.json
deps/*.build
deps/*.make
*.db
*.log.txt*
*.properties
/*.tss
/lib
/*.pdb/*
packages/
tools/bin/appveyor-tools/
autom4te.cache/
configure
/tools/bin/premake
