# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.lastbuildstate
*.db-shm
*.db-wal
/.vs
/tmp
*.vcxproj*
*.sln
./*.db
/bin
IntelSEAPI.log
ALL_BUILD.log
ZERO_CHECK.log
Premake5.log
/*.make
* - Copy.*
Makefile
*.config.json
deps/*.build
deps/*.make
*.db
*.log.txt*
*.properties
/*.tss
/lib
